.formulario{
    width:320px;
    padding:40px 30px;
    background:#eee;
    border-radius:4px;
    margin:auto;
    position: absolute;
    left: 0;
    right: 0;
    top:10%;
}
.regular-style{
    width:300px;
    height:30px;
    border:none;
    padding:5px 7px 5px 15px;
    background:#fff;
    color:#666;
    border:2px solid #ddd;
    border-radius: 15px;
    position: relative;
    margin-bottom:15px;
}
.buttom-container{
    background:#0AC986;
    display:inline-block;
    width:150px;
    font-size:16px;
    height:50px;
    color:#fff;
    text-decoration:none;
    border:none;
    border-radius:30px;
}
.error{
    color:red;
    
}