.regular-style{
    width:100%;
    height:30px;
    border:none;
    padding:5px 7px 5px 15px;
    background:#fff;
    color:#666;
    border:2px solid #ddd;
    border-radius: 10px;
    position: relative;
    margin-bottom:15px;
}

.input-error{
    width:100%;
    height:50px;
    border:none;
    padding:5px 7px 5px 15px;
    background:whitesmoke;
    color:#666;
    border:2px solid red;
    border-radius: 4px;
    position: relative;
    margin-bottom:15px;
    opacity: 0.5;
}